<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.callforcode.greenfarm.mapper.GFUserMapper">
  <resultMap id="BaseResultMap" type="com.callforcode.greenfarm.entity.GFUser">
    <id column="username" jdbcType="VARCHAR" property="username" />
    <result column="rolename" jdbcType="VARCHAR" property="rolename" />
    <result column="fullname" jdbcType="VARCHAR" property="fullname" />
    <result column="location" jdbcType="VARCHAR" property="location" />
    <result column="password" jdbcType="VARCHAR" property="password" />
    <result column="phone" jdbcType="VARCHAR" property="phone" />
    <result column="email" jdbcType="VARCHAR" property="email" />
    <result column="sex" jdbcType="VARCHAR" property="sex" />
    <result column="icon_url" jdbcType="VARCHAR" property="iconUrl" />
    <result column="description" jdbcType="VARCHAR" property="description" />
    <result column="carbon_credit" jdbcType="INTEGER" property="carbonCredit" />
    <result column="carbon_medals" jdbcType="VARCHAR" property="carbonMedals" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="modify_time" jdbcType="TIMESTAMP" property="modifyTime" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
  </resultMap>
  <sql id="Base_Column_List">
    username, rolename, fullname,location,password, phone, email, sex, icon_url, description, carbon_credit, 
    carbon_medals, create_time, modify_time, remark
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from gf_user
    where username = #{username,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from gf_user
    where username = #{username,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.callforcode.greenfarm.entity.GFUser">
    insert into gf_user (username, rolename, fullname,location, password, 
      phone, email, sex, 
      icon_url, description, carbon_credit, 
      carbon_medals, create_time, modify_time, 
      remark)
    values (#{username,jdbcType=VARCHAR}, #{rolename,jdbcType=VARCHAR},#{fullname,jdbcType=VARCHAR},#{location,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR}, 
      #{phone,jdbcType=VARCHAR}, #{email,jdbcType=VARCHAR}, #{sex,jdbcType=VARCHAR}, 
      #{iconUrl,jdbcType=VARCHAR}, #{description,jdbcType=VARCHAR}, #{carbonCredit,jdbcType=INTEGER}, 
      #{carbonMedals,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, #{modifyTime,jdbcType=TIMESTAMP}, 
      #{remark,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.callforcode.greenfarm.entity.GFUser">
    insert into gf_user
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="username != null">
        username,
      </if>
      <if test="rolename != null">
        rolename,
      </if>
       <if test="fullname != null">
        fullname,
      </if>
       <if test="location != null">
        location,
      </if>
      <if test="password != null">
        password,
      </if>
      <if test="phone != null">
        phone,
      </if>
      <if test="email != null">
        email,
      </if>
      <if test="sex != null">
        sex,
      </if>
      <if test="iconUrl != null">
        icon_url,
      </if>
      <if test="description != null">
        description,
      </if>
      <if test="carbonCredit != null">
        carbon_credit,
      </if>
      <if test="carbonMedals != null">
        carbon_medals,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="modifyTime != null">
        modify_time,
      </if>
      <if test="remark != null">
        remark,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="username != null">
        #{username,jdbcType=VARCHAR},
      </if>
      <if test="rolename != null">
        #{rolename,jdbcType=VARCHAR},
      </if>
      <if test="fullname != null">
        #{fullname,jdbcType=VARCHAR},
      </if>
      <if test="location != null">
        #{location,jdbcType=VARCHAR},
      </if>
      <if test="password != null">
        #{password,jdbcType=VARCHAR},
      </if>
      <if test="phone != null">
        #{phone,jdbcType=VARCHAR},
      </if>
      <if test="email != null">
        #{email,jdbcType=VARCHAR},
      </if>
      <if test="sex != null">
        #{sex,jdbcType=VARCHAR},
      </if>
      <if test="iconUrl != null">
        #{iconUrl,jdbcType=VARCHAR},
      </if>
      <if test="description != null">
        #{description,jdbcType=VARCHAR},
      </if>
      <if test="carbonCredit != null">
        #{carbonCredit,jdbcType=INTEGER},
      </if>
      <if test="carbonMedals != null">
        #{carbonMedals,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyTime != null">
        #{modifyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.callforcode.greenfarm.entity.GFUser">
    update gf_user
    <set>
      <if test="rolename != null">
        rolename = #{rolename,jdbcType=VARCHAR},
      </if>
      <if test="fullname != null">
        fullname = #{fullname,jdbcType=VARCHAR},
      </if>
      <if test="location != null">
        location = #{location,jdbcType=VARCHAR},
      </if>
      <if test="password != null">
        password = #{password,jdbcType=VARCHAR},
      </if>
      <if test="phone != null">
        phone = #{phone,jdbcType=VARCHAR},
      </if>
      <if test="email != null">
        email = #{email,jdbcType=VARCHAR},
      </if>
      <if test="sex != null">
        sex = #{sex,jdbcType=VARCHAR},
      </if>
      <if test="iconUrl != null">
        icon_url = #{iconUrl,jdbcType=VARCHAR},
      </if>
      <if test="description != null">
        description = #{description,jdbcType=VARCHAR},
      </if>
      <if test="carbonCredit != null">
        carbon_credit = #{carbonCredit,jdbcType=INTEGER},
      </if>
      <if test="carbonMedals != null">
        carbon_medals = #{carbonMedals,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyTime != null">
        modify_time = #{modifyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="remark != null">
        remark = #{remark,jdbcType=VARCHAR},
      </if>
    </set>
    where username = #{username,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.callforcode.greenfarm.entity.GFUser">
    update gf_user
    set rolename = #{rolename,jdbcType=VARCHAR},
      fullname = #{fullname,jdbcType=VARCHAR},
      location = #{location,jdbcType=VARCHAR},
      password = #{password,jdbcType=VARCHAR},
      phone = #{phone,jdbcType=VARCHAR},
      email = #{email,jdbcType=VARCHAR},
      sex = #{sex,jdbcType=VARCHAR},
      icon_url = #{iconUrl,jdbcType=VARCHAR},
      description = #{description,jdbcType=VARCHAR},
      carbon_credit = #{carbonCredit,jdbcType=INTEGER},
      carbon_medals = #{carbonMedals,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      modify_time = #{modifyTime,jdbcType=TIMESTAMP},
      remark = #{remark,jdbcType=VARCHAR}
    where username = #{username,jdbcType=VARCHAR}
  </update>
</mapper>