<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper
	namespace="com.callforcode.greenfarm.mapper.GFUserFinanceMapper">
	
	<select id="selectByWhere" parameterType="java.util.List"
		resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from gf_user_finance
		<where>
			<if test="financeProductId != null">
				AND finance_product_id = #{financeProductId,jdbcType=INTEGER}
			</if>
			<if test="username != null">
				AND username = #{username,jdbcType=VARCHAR}
			</if>
			<if test="financeLimit != null">
				AND finance_limit = #{financeLimit,jdbcType=VARCHAR}
			</if>
			<if test="startDate != null">
				AND start_date = #{startDate,jdbcType=DATE}
			</if>
			<if test="endDate != null">
				AND end_date =#{endDate,jdbcType=DATE}
			</if>
			<!-- <if test="createTime != null">
				AND create_time = #{createTime,jdbcType=TIMESTAMP}
			</if>
			<if test="modifyTime != null">
				AND modify_time = #{modifyTime,jdbcType=TIMESTAMP}
			</if> -->
			<if test="remark != null">
				AND remark = #{remark,jdbcType=VARCHAR}
			</if>
		</where>
		ORDER BY create_time DESC
	</select>
	<update id="updateByPidAndUserName"
		parameterType="com.callforcode.greenfarm.entity.GFUserFinance">
		update gf_user_finance
		<set>
			<if test="financeProductId != null">
				finance_product_id = #{financeProductId,jdbcType=INTEGER},
			</if>
			<if test="username != null">
				username = #{username,jdbcType=VARCHAR},
			</if>
			<if test="financeLimit != null">
				finance_limit = #{financeLimit,jdbcType=VARCHAR},
			</if>
			<if test="startDate != null">
				start_date = #{startDate,jdbcType=DATE},
			</if>
			<if test="endDate != null">
				end_date =#{endDate,jdbcType=DATE},
			</if>
			<if test="createTime != null">
				create_time = #{createTime,jdbcType=TIMESTAMP},
			</if>
			<if test="modifyTime != null">
				modify_time = #{modifyTime,jdbcType=TIMESTAMP},
			</if>
			<if test="remark != null">
				remark = #{remark,jdbcType=VARCHAR},
			</if>
		</set>
		where finance_product_id = #{financeProductId,jdbcType=INTEGER}
		AND username= #{username,jdbcType=VARCHAR}
	</update>
	<delete id="deleteByPidAndUserName"
		parameterType="com.callforcode.greenfarm.entity.GFUserFinance">
		delete from gf_user_finance
		where finance_product_id = #{financeProductId,jdbcType=INTEGER}
		AND username= #{username,jdbcType=VARCHAR}
	</delete>
</mapper>